body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card .row{
    margin-bottom: 0;
}

.card .card-content{
    font-size: 20pt;
}

.trashcan{
    cursor: pointer;
}

.btn, .btn:focus{
    background-color: #ee6e73;
}
.btn:hover{
    background-color: #AE5154;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #ee6e73;
    box-shadow: 0 1px 0 0 #ee6e73;
}

.page-footer p{
    color: #000000;
}

.page-footer a{
    color: #ffffff;
    text-decoration: none;
}