body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card .row{
    margin-bottom: 0;
}

.card .card-content{
    font-size: 20pt;
}

.trashcan{
    cursor: pointer;
}